/.vscode
/build
scus_944.67.ld
SCUS_944.67
spyro_-_year_of_the_dragon_v1_0.bin
Spyro3.bin
Spyro3_build.bin
Spyro3_build.cue
WAD.WAD
/various
overlay_hash_output.txt
/moby_address_list.txt
context.txt
tools/dragonbreath/dragonbreath.exe
overlay_corrected_hash_output.txt
tools/mkpsxiso.exe
tools/dumpsxiso.exe
tools/wadtoolrust.exe
/wad-data
/cd-data
